*{margin:0;padding:0;box-sizing:border-box}

body{
  font-family:Arial;
  background:linear-gradient(135deg,#0f172a,#1e293b,#020617);
  color:white;
}

/* هيدر */
header{
  padding:20px;
  text-align:center;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(10px);
}

/* مقدمة */
.hero{
  text-align:center;
  padding:50px 20px;
  animation:fadeIn 1s;
}

/* شبكة */
.courses{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  padding:30px;
}

/* كرت */
.card{
  background:rgba(255,255,255,0.05);
  border-radius:15px;
  overflow:hidden;
  backdrop-filter:blur(10px);
  transition:0.4s;
}

.card:hover{
  transform:translateY(-10px) scale(1.03);
}

.card img{
  width:100%;
  height:160px;
  object-fit:cover;
}

.content{padding:15px}

.btn{
  display:block;
  margin-top:10px;
  padding:10px;
  background:linear-gradient(45deg,#3b82f6,#9333ea);
  text-align:center;
  border-radius:10px;
  color:white;
  text-decoration:none;
}

/* صفحة الكورس */
.container{
  max-width:900px;
  margin:auto;
  padding:20px;
  animation:fadeIn 1s;
}

iframe{
  width:100%;
  height:350px;
  border-radius:12px;
  margin:20px 0;
}

/* صناديق */
.box{
  background:rgba(255,255,255,0.05);
  padding:15px;
  margin:15px 0;
  border-radius:12px;
}

/* نجوم */
.stars{
  color:gold;
  font-size:20px;
  margin:10px 0;
}

/* تعليق */
.comment{
  background:#1e293b;
  padding:10px;
  border-radius:8px;
  margin-top:10px;
}

/* أنيميشن */
@keyframes fadeIn{
  from{opacity:0}
  to{opacity:1}
}